APP_ENV
GIN_MODE
CGO_ENABLED
MIGRATION_PATH
SEED_DB
CLEAR_WHILE_SEEDING

# TURSO DATABASE CONFIGS (For Production / Staging)
# DB_URL
# DB_AUTH_TOKEN


DEV_S3_URL
DEV_S3_BUCKET
DEV_S3_USERNAME
DEV_S3_PASSWORD

S3_URL
S3_BUCKET
JWT_SECRET
ADMIN_EMAIL
ADMIN_PASSWORD

ALLOWED_ORIGINS

GOOGLE_OIDC_AUDIENCES

REVENUECAT_API_KEY
REVENUECAT_WEBHOOK_KEY
